<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %>さんとのチャット</h1>

<div class="message ml-5" style="width: 400px;">
  <% @messages.each do |message| %>
  <!--相手の文字を左側、自分の文字を右側に出てくるように指定-->
  <% if message.user.id == current_user.id %>
   <p style="text-align: right"><%= message.message %></p>
  <% else %>
   <p style="text-align: left"><%= message.message %></p>
  <% end %>
 <% end %>
</div>

<%= form_with model: @message, class:"ml-5", remote: true do |f| %>
 <%= f.text_field :message, class:"message_message" %>
 <%= f.hidden_field :room_id %>
 <%= f.submit 'コメント' %>
<% end %>