<div class="col-10 offset-2 mt-2 mb-2">
  <h3 class="">投稿一覧(<%= link_to "投稿ページへ", new_student_post_path %>)</h3>
</div>

<div class="container">
  <div class="row">
      <div class="col-12">
        <% @student_posts.each do |student| %>
        <div class="card mb-3" style="width: 18rem;">
          <div class="card-header">
            <%= link_to student_post_path(student) do %>
              投稿No.<%= student.id %>
            <% end %>
            <% if student.user == current_user %>
              <%= link_to "編集する",class:"btn btn-outline-secondary btn-sm ml-2" %>
            <% else %>
              <%= link_to "連絡を取る", user_path(student.user) ,class:"btn btn-secondary btn-sm ml-2" %>
            <% end %>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">タイトル : <%= student.title %></li>
            <li class="list-group-item">内容 : <%= student.body %></li>
            <li class="list-group-item">分野 : <%= student.field %></li>
            <li class="list-group-item">
              ステータス : <%= student.status %>
              <% if student.favorited_by?(current_user) %>
                <%= link_to student_post_favorites_path(id: student.id, student_post_id: student.id), method: :delete do %>
                ♥
                <% end %>
              <% else %>
                <%= link_to student_post_favorites_path(id: student.id, student_post_id: student.id), method: :post do %>
                ♡
                <% end %>
              <% end %>
            </li>
            <li class="list-group-item">コメント件数 : <%= student.student_comments.count %></li>
          </ul>
        </div>
        <% end %>
      </div>
  </div>
</div>

